################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/LoginDB/FileContentIndex/2ed975a6-d5a7-406b-9491-de7aa4ec31a9.vsidx
/.vs/LoginDB/FileContentIndex/3c969add-eb37-465a-9f17-2d5dfd2e6953.vsidx
/.vs/LoginDB/FileContentIndex/8fbcd8c5-8710-421f-8084-5fb0c0d99d37.vsidx
